@import "mixins";


.arrow {
	$balance-padding: 1.25rem;
	$arrow-width: 0.625rem;
	$arrow-height: 1.25rem;

	&:after {
		position: absolute;

		width: 0;
		height: 0;

		content: "";
	}

	&:hover {
		color: #FFFFFF;

		background: red;

		&.arrowLeft:after {
			border-right-color: red;
		}

		&.arrowRight:after {
			border-left-color: red;
		}
	}

	&.arrowLeft {
		@include button-arrow-left();
	}

	&.arrowRight {
		@include button-arrow-right();
	}
}