@mixin button-arrow-left (
	$balance-padding: 1.25rem,
	$arrow-width: 0.625rem,
	$arrow-height: 1.25rem,
	$arrow-offset: 0.22rem,
	$overwrite: false,
	$color: white
) {
	$i: unquote("");

	@if ($overwrite) {
		$i: !important;
	}

	padding-right: $balance-padding $i;

	background: $color !important;

	&:after {
		right: calc(100% + #{ $arrow-offset }) $i;
		top: 0 $i;

		border-radius: 0.1rem $i;
		border-top: $arrow-height solid transparent $i;
		border-bottom: $arrow-height solid transparent $i;

		border-right: $arrow-width solid $color $i;

		transform: translateX(50%) $i;
	}

	&:hover {
		&:after {
			border-right-color: $color;
		}
	}

	@content;
}

@mixin button-arrow-right (
	$balance-padding: 1.25rem,
	$arrow-width: 0.625rem,
	$arrow-height: 1.25rem,
	$arrow-offset: 0.12rem,
	$overwrite: false,
	$color: white
) {
	$i: unquote("");

	@if ($overwrite) {
		$i: !important;
	}

	padding-left: $balance-padding $i;

	background: $color;

	&:after {
		left: calc(100% - #{ $arrow-offset }) $i;
		top: 0 $i;

		content: "" $i;

		border-top: $arrow-height solid transparent $i;
		border-bottom: $arrow-height solid transparent $i;

		border-left: $arrow-width solid white $i;
	}

	&:hover {
		&:after {
			border-right-color: $color;
		}
	}

	@content;
}